<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title >Dairy Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-list>
            <ion-item style="padding-top: 10px;padding-bottom: 10px;">
              <ion-avatar slot="start"><img src="../assets/milk.jpeg"></ion-avatar>
              <ion-label>Milk</ion-label>
              <ion-select  placeholder="liters" okText="Okay" cancelText="Dismiss">
                <ion-select-option *ngFor="let item of calliterator(10); let i=index" [value]="item">{{i+1}} Liter</ion-select-option>
              </ion-select>
            </ion-item>
        <ion-item style="padding-top: 10px;padding-bottom: 10px;">
          <ion-avatar slot="start"><img src="../assets/milk.jpeg"></ion-avatar>
          <ion-label>Curd</ion-label>
          <ion-select  placeholder="Kilo" okText="Okay" cancelText="Dismiss">
            <ion-select-option *ngFor="let item of calliterator(10); let i=index" [value]="item">{{i+1}} Kilo</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
</ion-content>

<ion-footer>
  <ion-button size="full" shape="round">
    Checkout
  </ion-button>
</ion-footer>
