<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title >Medicine</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card style="height:50%">
  <ion-card-header>
    <ion-card-title style="text-align: center;">
      Upload Prescription
    </ion-card-title>  </ion-card-header>
<ion-card-content   style="padding-top: 25%;
text-align: center;" >
  <ion-button >
    <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
    Upload
  </ion-button>
</ion-card-content>
</ion-card>
</ion-content>
<ion-footer>
  <ion-button size="full" shape="round">
    Checkout
  </ion-button>
</ion-footer>


